Build/*
install/*
*.vcxproj
Build/CMakeCache.txt
depends/rapidcsv.h
YarnVMSerialized.json
generated/New folder/yarn_spinner.pb.h
generated/New folder/yarn_spinner.pb.cc
/depends/protobuf-build
/depends/protobuf-sdk
